.crosshairLine {
    background-color: #fe0000;
}

.crosshairBox.confirmed .crosshairLine {
    background-color: #0bff01;
}

.crosshairBox:hover .crosshairLine {
    background-color: cyan;
}
.crosshairBox.selected .crosshairLine {
    background-color: #fdfe02;
}
