.crosshairLine {
    stroke: #fe0000;
}

.crosshairBox.confirmed .crosshairLine {
    stroke: #0bff01;
}

.crosshairBox.selected .crosshairLine {
    stroke: #fdfe02;
    border: 1px solid #fdfe02;
}

.crosshairBox:hover .crosshairLine {
    stroke: cyan;
    border: 1px solid cyan;
}
