.crosshairLine {
    stroke: #fe0000;
    padding: 10px;

    &.confirmed {
        stroke: #0bff01;
    }

    &.selected {
        stroke: #fdfe02;
    }
}

.crosshairLine:hover {
    stroke: cyan;
    cursor: pointer;
    // stroke-width: 1;
}
