// .ecosystemSelector {
//     width: 250px; /* Set the width of the select box */
//     height: 40px; /* Set the height of the select box */
//     padding: 5px; /* Add padding inside the select box */
//     margin-bottom: 16px;
//     font-size: 16px; /* Change the font size */
//     border: 1px solid #ccc; /* Set a border */
//     border-radius: 8px; /* Optional: add rounded corners */
//     background-color: #0e5c2e; /* Optional: set a background color */
//     cursor: pointer; /* Optional: change the cursor on hover */
//     overflow: hidden;
//     text-overflow: ellipsis;
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     background-image: url("../../css/menu.svg");
//     background-repeat: no-repeat;
//     background-position: 5% 50%;
//     background-size: 20px;
//     color: white;
//     padding-left: 40px;
//     position: relative;
// }

// .ecosystemSelector select {
//     display: none;
// }

// .select-items div {
//     position: absolute;
//     width: 250px; /* Set the width of the select box */
//     height: 40px; /* Set the height of the select box */
//     background-color: #0e5c2e;
//     top: 100%;
//     left: 0%;
//     right: 0%;
//     z-index: 99;
// }

$linnaea-green: #0e5c2e;
$gray1: #f9f9f9;
$gray2: #f6f6f6;
$gray3: #e6e6e6;

.ecosystemSelect {
    position: relative;
    display: inline-block;
    width: 250px;
    margin-bottom: 24px;
    z-index: 10;
}

.selectBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: $gray1;
    background-image: url("../../css/menu-green.svg");
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 20px;
    cursor: pointer;
    color: black;
    filter: none;
    position: relative;
    transition: border-radius 0.3s 0.3s, background-color 0.3s 0s,
        background-image 0.3s 0s, color 0.3s 0s;

    &:hover {
        background-color: $linnaea-green;
        background-image: url("../../css/menu.svg");
        color: white;
    }
}

/* Show options when clicked */
.ecosystemSelect.open .optionsContainer {
    max-height: 210px;
    transition: max-height 0.3s ease;
}

.ecosystemSelect.open .selectBox {
    background-image: url("../../css/menu.svg");
    background-color: #0e5c2e;
    color: white;
    transition: border-radius 0s;
    border-radius: 8px 8px 0 0;
    filter: drop-shadow(0px 3px 5px rgb(42, 42, 42));
}

.optionsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #0e5c2e;
    border-radius: 0 0 8px 8px;
    max-height: 0px;
    transition: max-height 0.3s ease;
    overflow-y: auto;
    // display: none;
}

.option {
    padding: 10px;
    cursor: pointer;
    background-color: #0e5c2e;
    color: white;

    &:hover {
        background-color: #093b1e;
        border-radius: 8px;
    }
}
