@use "../../css/variables" as *;

.imageTools {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageTools > * {
    display: flex;
}

.home {
    position: absolute;
    left: 0;
}

.zooms {
    position: absolute;
    right: 0;
}

.homeButton {
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    background-image: url("../../css/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    cursor: pointer;
}

.zoomIn {
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    background-image: url("../../css/zoom-in.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    cursor: pointer;
}

.zoomOut {
    margin-left: 8px;
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    background-image: url("../../css/zoom-out.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    cursor: pointer;
}

.pointInput {
    height: 12px;
    width: 24px;
    border-radius: 5px;
}

.subNavigator {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.pointNavigator {
    align-items: center;
}

.prevPoint {
    height: 25px;
    width: 25px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: $linnaea-green;
    border: 2px solid $linnaea-green;
    background-image: url("../../css/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 2px solid $linnaea-green;
        background-image: url("../../css/left-arrow-green.svg");
    }
}

.upPoint {
    height: 25px;
    width: 25px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: $linnaea-green;
    border: 2px solid $linnaea-green;
    background-image: url("../../css/left-arrow.svg");
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 2px solid $linnaea-green;
        background-image: url("../../css/left-arrow-green.svg");
    }
}

.nextPoint {
    height: 25px;
    width: 25px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: $linnaea-green;
    border: 2px solid $linnaea-green;
    background-image: url("../../css/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 2px solid $linnaea-green;
        background-image: url("../../css/right-arrow-green.svg");
    }
}

.downPoint {
    height: 25px;
    width: 25px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: $linnaea-green;
    border: 2px solid $linnaea-green;
    background-image: url("../../css/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    background-size: 16px 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 2px solid $linnaea-green;
        background-image: url("../../css/right-arrow-green.svg");
    }
}
